<div>
  <% if current_user %>
	    <h1>New Booking</h1>

		<%= render 'form' %>

		<%= link_to 'Back', bookings_path %>

  <% else %>
    	<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

