<div>
  <% if current_user %>
	    <h1 align="center">New Booking</h1>
	    <hr><br>
		<%= render 'form' %>

		<%= link_to 'Back', :controller=> "schedules", :action=> "index" %>

  <% else %>
    	<h3>You need to sign in to book the ticket.</h3>
  <% end %>
</div>

